<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="contain">
        {{> nav}}

        <div class="header_section text-center">
            <h1>I am full stack web developer & mentor</h1>
            <p>I design and code beautifully simple things, and i am heard working</p>
            <img src="public/images/mypic.jpeg" alt="work">
        </div>
        <div class="hero_section">
            <img src="public/images/code.jpeg" alt="Coding" width="500px">
            <div class="bg-primary p-5 text-center text-light">
                <h2>I'm Justin Mussa nice to meet you</h2>
                <p>Since beginning my junny as an IT programmer and Network administrator
                    over 4 years ago, i have worked as System administrator for differents
                    companies, and collaborate with talented people to create digital products
                    for both busness and consumer use. I'm quietly confident, naturally curious, and 
                    perpetually working on improving my shops one design problem at a time.
                </p>
            </div>
        </div>
        <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy
                            bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Language I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev tools: </h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">terminal</li>
                            <li class="list-group-item">vercel</li>
                            <li class="list-group-item">codekit</li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy
                            bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Language I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev tools: </h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">terminal</li>
                            <li class="list-group-item">vercel</li>
                            <li class="list-group-item">codekit</li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy
                            bringing ideas to life in the browser.</p>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="text-primary">Language I speak:</h5>
                        <p>HTML, Pug, Slim, CSS, Sass, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev tools: </h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bitbucket</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">terminal</li>
                            <li class="list-group-item">vercel</li>
                            <li class="list-group-item">codekit</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="service text-center">
            <h2>Our Service</h2>
            <p>We provide quality service, efficient, for short time</p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
             <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <img class="img-fluid" src="public/images/web.jpeg" alt="">
                    </div>
                    <div class="card-title text-center">
                        <h5>App development</h5>
                        <p>Mfite inzozi zo kuzakora ikiyogajuru, birakomeye ariko biroroshye</p>
                        <button type="button" class="btn btn-primary">Learn more</button>
                    </div>
                </div>
            </div> 
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/caritas.jpeg" class="border" alt="Caritas Kigali" width="150px" height="150">
                </div>
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/goodman.jpeg" class="border" alt="Goodman" width="150px" height="150">
                </div>
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/infosys.jpeg" class="border" alt="infosys" width="150px" height="100">
                </div>
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/glory.jpeg" class="border" alt="Glory Graphic Design" width="150px" height="100">
                </div>
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/chuk.jpeg" class="border" alt="CHUK" width="150px" height="150">
                </div>
                 <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/donbosco.jpeg" class="border" alt="Gatenga Don Bosco" width="150px" height="150">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us">
            <form>
    <h2 class="text-center">Contact us</h2>
    <p class="text-center">Contact your help</p>
  <div class="mb-3">
    <label for="username" class="form-label">User name</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="" class="mb-2">Type your message here...</label>
     <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
        <div class="footer bg-light">
            <img src="public/images/code.jfif" alt="logo" width="100px" height="100px">

            <h3>Living, learning, & leveling up one day a time.</h3>

            <div class="social_icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
                <a href=""><i class="fa fa-github"></i></a>
                
            </div>
            <p>Handcrafted by me @ twenty twenty two</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>